@using PosWarehouse.ViewModel
@model PosWarehouse.ViewModel.OtherPurchaseReceiveModel
@{
    ViewBag.Title = "OtherPurchaseReceiveList";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var otherPurchaseReceiveModel = ViewBag.OtherPurchaseReceiveList as List<OtherPurchaseReceiveModel>;
}

<div class="page-head">
    <div class="page-title">
        <h1>Purchase Receive From SOL</h1>
    </div>
    <div class="page-toolbar">
        <a href="@Url.Action("OtherPurchaseReceive", "OtherPurchaseReceive")" class="btn btn-circle btn-success"><i class="fa fa-plus-circle"></i> New Receive</a>
    </div>
</div>

<div class="row margin-top-10">
    <div class="col-md-12">
        <div class="portlet box green-haze">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-globe"></i>SOL Receive List
                </div>
                <div class="tools">
                </div>
            </div>
            <div class="portlet-body">
                <table class="table table-striped table-bordered table-hover" id="OtherPurchaseReceiveList">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th style="display: none;"></th>
                            <th> Challan Number </th>
                            <th> Delivery To</th>
                            <th> Created Date</th>
                            <th> Receive Status</th>
                            <th> Hold Status</th>
                            <th> Action </th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (otherPurchaseReceiveModel != null && otherPurchaseReceiveModel.Count != 0)
                        {
                            int counter = 1;
                            foreach (var data in otherPurchaseReceiveModel)
                            {
                        <tr>
                            <td>@counter</td>
                            <td style="display: none;">@data.OtherPurchaseReceiveId</td>
                            <td>@data.OtherPurchaseReceiveNumber</td>
                            <td>@data.DeliveryShopName</td>
                            <td>@data.CreatedDate</td>
                            @if (data.ReceiveYN == "Y")
                            {
                                <td style="color: cadetblue; font-weight:bold;font-size: 20px; ">YES</td>
                            }
                            else
                            {
                                <td style="color: red; font-weight:bold;font-size: 20px;">NO</td>
                            }

                            @if (data.Hold_YN == "Y")
                            {
                                <td style="color: green; font-weight:bold;font-size: 20px; ">YES</td>
                            }
                            else
                            {
                                <td style="color: darkred; font-weight:bold;font-size: 20px;">NO</td>
                            }

                            <td style="width: 17%">
                                @*<a class="btn btn-primary OtherPurchaseReceiveItem" data-toggle="modal" href="#OtherPurchaseReceiveItemModal" data-id="@data.OtherPurchaseReceiveNumber" id="OtherPurchaseReceiveItem">
                <i class="fa fa-eye"></i>
                View Item
            </a>*@
                                @Html.ActionLink("Show Report", "ShowReport", "OtherPurchaseReceive", new { OtherPurchaseReceiveNumber = data.OtherPurchaseReceiveNumber }, new { @class = "btn btn-danger", target = "_blank" })

                            </td>
                        </tr>
                                counter = counter + 1;
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>

    jQuery(document).ready(function() {

        var table = $("#OtherPurchaseReceiveList").dataTable();

    });
</script>