@using PosWarehouse.ViewModel
@model PosWarehouse.ViewModel.UserActivityModel
@{
    ViewBag.Title = "UserActivityMonitor";
    Layout = "~/Views/Shared/_Layout.cshtml";

    //var userActivityModel = ViewBag.UserActivityList as List<UserActivityModel>;
}

<div class="page-head">
    <div class="page-title">
        <h1>User Activity Monitor</h1>
    </div>
</div>

<div class="row margin-top-10">
    <div class="col-md-12">
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i> USER ACTIVITY DETAILS
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse" data-original-title="" title="">
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="form-horizontal">
                    <br />

                    <div class="row">
                        <div class="col-md-12">
                            <div class="portlet light bordered">
                                <div class="portlet-title">
                                    <div class="caption font-green-sharp">
                                        <i class="icon-speech font-green-sharp"></i>
                                        <span class="caption-subject bold uppercase"> Search From here</span>

                                    </div>
                                </div>
                                <div class="portlet-body">
                                    <br />
                                    <div class="row">
                                        <div class="col-md-12">

                                            <div class="form-group col-md-4">
                                                @Html.LabelFor(c => c.FromDate, new { @class = "col-md-3 control-label" })
                                                <div class="col-md-6">
                                                    <div class="input-icon">
                                                        @Html.TextBoxFor(c => c.FromDate, new { @class = "form-control input-circle datepicker", @placeholder = "From Date", @autocomplete = "off", @readonly = "readonly" })
                                                        @Html.ValidationMessageFor(c => c.FromDate)
                                                    </div>
                                                </div>
                                                <div class="col-md-3"></div>
                                            </div>
                                            <div class="form-group col-md-4">
                                                @Html.LabelFor(c => c.ToDate, new { @class = "col-md-3 control-label" })
                                                <div class="col-md-6">
                                                    <div class="input-icon">

                                                        @Html.TextBoxFor(c => c.ToDate, new { @class = "form-control input-circle datepicker", @placeholder = "From Date", @autocomplete = "off", @readonly = "readonly" })
                                                        @Html.ValidationMessageFor(c => c.ToDate)
                                                    </div>
                                                </div>
                                                <div class="col-md-3"></div>
                                            </div>
                                            <div class="form-group col-md-4">
                                                @Html.LabelFor(c => c.EmployeeId, new { @class = "col-md-3 control-label" })
                                                <div class="col-md-7">
                                                    <div class="input-icon">
                                                        <i class="fa fa-text-width"></i>
                                                        @Html.DropDownListFor(c => c.EmployeeId, new SelectList(ViewBag.EmployeeList, "Value", "Text", Model.EmployeeId), new { @class = "form-control input-circle", @placeholder = "Employee Name", @style = "max-width: 580px;" })
                                                        @Html.ValidationMessageFor(c => c.EmployeeId)
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <span class="input-group-btn">
                                                        <button class="btn btn-success input-circle" type="button" id="search" autocomplete="off">Search</button>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <!-- BEGIN SAMPLE TABLE PORTLET-->
                                        <div class="portlet light bordered">
                                            <div class="portlet-title">
                                                <div class="caption font-green-sharp">
                                                    <i class="icon-speech font-green-sharp"></i>
                                                    <span class="caption-subject bold uppercase"> Grid View</span>

                                                </div>
                                            </div>
                                            <div class="portlet-body">
                                                <div class="table-responsive">
                                                    <table class="table table-striped table-bordered table-hover" id="gridTable">
                                                        <thead>
                                                            <tr>
                                                                <th>
                                                                    #
                                                                </th>
                                                                <th>
                                                                    Employee ID
                                                                </th>
                                                                <th>
                                                                    Employee Name
                                                                </th>
                                                                <th>
                                                                    Role
                                                                </th>
                                                                <th>
                                                                    Controller Used
                                                                </th>
                                                                <th>
                                                                    Action Used
                                                                </th>
                                                                <th>
                                                                    IP Address
                                                                </th>
                                                                <th>
                                                                    Activity Date
                                                                </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody id="gridTableBodyForEmployeeInfo"></tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- END SAMPLE TABLE PORTLET-->
                                    </div>

                                </div>
                            </div>
                            <!-- END GENERAL PORTLET-->


                        </div>
                    </div>



                </div>

            </div>

        </div>

    </div>
</div>

<script>
    jQuery(document).ready(function () {

        $(function () {
            $(".datepicker").datepicker({
                format: 'dd-MMM-yy',//check change
                changeMonth: true,
                changeYear: true
            }).datepicker("setDate", new Date());
        });

        $("#search").click(function () {
            var employeeId = $("#EmployeeId").val();
            var froDate = $("#FromDate").val();
            var toDate = $("#ToDate").val();

            var dataObject = {
                'EmployeeId': employeeId,
                'FromDate': froDate,
                'ToDate': toDate
            }

            //var dataList = JSON.stringify({ objUserActivityModel : dataObject });

            $.ajax({
                type: 'GET',
                url: '/UserActivity/GetEmployeeInfoByEmployeeId/',
                data: dataObject,
                dataType: 'json',
                beforeSend: function () {
                    $('#preLoader').show();
                },
                success: function (result) {
                    var userActivityTableQuantity = result.length;
                    $("#gridTableBodyForEmployeeInfo").html("");
                    if (result.length !== 0) {
                        for (var i = 0; i < userActivityTableQuantity; i++) {
                            $("#gridTableBodyForEmployeeInfo").append('<tr>' +
                                '<td>' +
                                parseInt(i + 1) +
                                '</td>' +
                                '<td>' +
                                result[i].EmployeeId +
                                '</td>' +
                                '<td>' +
                                result[i].EmployeeName +
                                '</td>' +
                                '<td>' +
                                result[i].EmployeeRole +
                                '</td>' +
                                '<td>' +
                                result[i].UsedController +
                                '</td>' +
                                '<td>' +
                                result[i].UsedAction +
                                '</td>' +
                                '<td>' +
                                result[i].IpAddress +
                                '</td>' +
                                '<td>' +
                                result[i].ActivityDate +
                                '</td>' +
                                '</tr>'
                            );
                        }  
                    } else {
                        toastr.error("No Data Found !.");
                    }
                    var table = $("#gridTable").dataTable();
                    $('#preLoader').hide();
                }

            });


        });
     });

</script>


