@using PosWarehouse.ViewModel
@model PosWarehouse.ViewModel.PurchaseReceiveModel
@{
    ViewBag.Title = "PurchaseReceiveList";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var purchaseReceiveModel = ViewBag.PurchaseReceiveList as List<PurchaseReceiveModel>;
}

<div class="page-head">
    <div class="page-title">
        <h1>Purchase Receive</h1>
    </div>
    <div class="page-toolbar">
        <a href="@Url.Action("PurchaseReceive", "PurchaseReceive")" class="btn btn-circle btn-success"><i class="fa fa-plus-circle"></i> New Purchase Receive</a>
    </div>
</div>

<div class="row margin-top-10">
    <div class="col-md-12">
        <div class="portlet box green-haze">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-globe"></i>Purchase Receive List
                </div>
                <div class="tools">
                </div>
            </div>
            <div class="portlet-body">
                <table class="table table-striped table-bordered table-hover" id="PurchaseReceiveList">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th style="display: none;"></th>
                            <th> Purchase Receive Number </th>
                            <th> Purchase Order Number</th>
                            <th> Delivery Shop Name</th>
                            <th> Purchase Date</th>
                            <th> Action </th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (purchaseReceiveModel != null && purchaseReceiveModel.Count != 0)
                        {
                            int counter = 1;
                            foreach (var data in purchaseReceiveModel)
                            {
                                <tr>
                                    <td>@counter</td>
                                    <td style="display: none;">@data.PurchaseReceiveId</td>
                                    <td>@data.PurchaseReceiveNumber</td>
                                    <td>@data.PurchaseOrderNumber</td>
                                    <td>@data.DeliveryShopName</td>
                                    <td>@data.PurchaseDate</td>
                                    <td style="width: 17%">
                                        <a class="btn btn-primary purchaseReceiveItem" data-toggle="modal" href="#PurchaseReceiveItemModal" data-id="@data.PurchaseReceiveId" id="purchaseReceiveItem">
                                            <i class="fa fa-eye"></i>
                                            View Item
                                        </a>
                                        @Html.ActionLink("Show Report", "ShowReport", "PurchaseReceive", new { purchaseReceiveNumber = data.PurchaseReceiveNumber }, new { @class = "btn btn-danger", target = "_blank" })

                                    </td>
                                </tr>
                                counter = counter + 1;
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- /.modal -->
<div class="modal fade bs-modal-lg" id="PurchaseReceiveItemModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Purchase Receive</h4>
            </div>
            <div class="modal-body">

                <div class="portlet light bordered">
                    <div class="portlet-title">
                        <div class="caption font-green-sharp">
                            <i class="icon-speech font-green-sharp"></i>
                            <span class="caption-subject bold uppercase"> Receive Item</span>

                        </div>

                    </div>
                    <div class="portlet-body scroller" style="height: 350px">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover" id="SelectDataForViewFromTable">
                                <thead>
                                    <tr>
                                        <th>
                                            #
                                        </th>
                                        <th>
                                            BarCode
                                        </th>
                                        <th>
                                            Item Name
                                        </th>
                                        <th>
                                            Purchase Price
                                        </th>
                                        <th>
                                            Sale Price
                                        </th>
                                        <th>
                                            Order Quantity
                                        </th>
                                        <th>
                                            Receive Quantity
                                        </th>
                                        <th>
                                            VAT
                                        </th>
                                    </tr>
                                </thead>
                                <tbody id="ModalReceiveItemListTableBody"></tbody>
                            </table>
                        </div>

                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-8">
                        <div class="form-group">
                            <label class="col-md-5 control-label"><strong>Total Item</strong></label>
                            <div class="col-md-7">
                                <input type="text" class="form-control  input-circle" id="totalReceiveItem" style="width: 150px; background-color: yellow" readonly="readonly" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<script>


    function totalItemCount() {
        var total = 0;
        $("#ModalReceiveItemListTableBody tr").each(function () {
            total += parseInt($(this).find('td:eq(6)').html());

        });
        $("#totalReceiveItem").val(total);
    }

    function purchaseReceiveItemList(receiveId) {

        var dataId = JSON.stringify({ purchaseReceiveId: receiveId });
        $.ajax({
            type: 'POST',
            contentType: 'application/json',
            dataType: 'json',
            url: '@Url.Action("GetPurchaseReceiveItemList", "PurchaseReceive")',
            data: dataId,
            success: function (data) {
                var tableQuantity = data.length;
                $("#ModalReceiveItemListTableBody").html("");
                for (var i = 0; i < tableQuantity; i++) {
                    $("#ModalReceiveItemListTableBody").append('<tr>' +
                        '<td>' +
                        parseInt(i+1) +
                        '</td>' +
                        '<td>' +
                        data[i].Barcode +
                        '</td>' +
                        '<td>' +
                        data[i].ItemName +
                        '</td>' +
                        '<td>' +
                        data[i].PurchasePrice +
                        '</td>' +
                        '<td>' +
                        data[i].SalePrice +
                        '</td>' +
                        '<td>' +
                        data[i].OrderQuantity +
                        '</td>' +
                        '<td>' +
                        data[i].ReceiveQuantity +
                        '</td>' +
                        '<td>' +
                        data[i].Vat +
                        '</td>' +
                        '</tr>'
                    );
                    totalItemCount();
                }
            }
        });
    }

    jQuery(document).ready(function () {

        var table = $("#PurchaseReceiveList").dataTable();
        //var table2 = $("#SelectDataForViewFromTable").dataTable();

        $(document).on('click', '.purchaseReceiveItem', function () {
            var receiveId = $(this).data('id');
            purchaseReceiveItemList(receiveId);
        });

        @{
                if (!string.IsNullOrWhiteSpace(@ViewBag.Message))
                {
                    <text>
                        var message = '@ViewBag.message';


                        toastr.options = {
                            "closeButton": true,
                            "debug": false,
                            "positionClass": "toast-top-center",
                            "onclick": null,
                            "showDuration": "1000",
                            "hideDuration": "1000",
                            "timeOut": "1000",
                            "extendedTimeOut": "1000",
                            "showEasing": "swing",
                            "hideEasing": "linear",
                            "showMethod": "fadeIn",
                            "hideMethod": "fadeOut"
                        }
                        toastr.success(message);
                    </text>
                }
            }
    });

</script>
