@model PosWarehouse.ViewModel.GiftVoucherHistoryReport
@{
    ViewBag.Title = "GiftVoucherHistory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row margin-top-10">
    <div class="col-md-12">
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i>Gift Voucher History
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse" data-original-title="" title="">
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                @using (Html.BeginForm("GiftVoucharHistory", "AllReport", FormMethod.Post, new { @class = "form-horizontal" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-1 text-center">
                                <div class="form-group">
                                    <div class="radio-list">
                                        @Html.RadioButtonFor(model => model.ReportType, "1", new { @checked = true }) PDF
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-2"></div>

                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="form-group" id="FromDateDiv">
                                        @Html.LabelFor(c => c.FromDate, new { @class = "col-md-3 control-label" })<span style="color: red">*</span>
                                        <div class="col-md-6">
                                            <div class="input-icon">
                                                <i class="fa fa-calendar"></i>
                                                @Html.TextBoxFor(c => c.FromDate, new { @class = "form-control input-circle datepicker", @autocomplete = "off", @required = "required", @placeholder = "From Date" })
                                            </div>
                                        </div>
                                        <div class="col-md-3"></div>
                                    </div>
                                    <div class="form-group" id="ToDateDiv">
                                        @Html.LabelFor(c => c.ToDate, new { @class = "col-md-3 control-label" })<span style="color: red">*</span>
                                        <div class="col-md-6">
                                            <div class="input-icon">
                                                <i class="fa fa-calendar"></i>
                                                @Html.TextBoxFor(c => c.ToDate, new { @class = "form-control input-circle datepicker", @autocomplete = "off", @required = "required", @placeholder = "From Date" })
                                            </div>
                                        </div>
                                        <div class="col-md-3"></div>
                                    </div>
                                    <div class="form-group" id="shopDropdownHide">
                                        @Html.LabelFor(c => c.ShopId, "Shop Name", new { @class = "col-md-3 control-label" })
                                        <div class="col-md-6">
                                            <div class="input-icon">
                                                @Html.DropDownListFor(c => c.ShopId, new SelectList(ViewBag.ShopList, "Value", "Text"), new { @class = "form-control input-circle select2" })
                                            </div>
                                        </div>
                                        <div class="col-md-3"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-1 control-label"></label>
                                            <div class="col-md-11">
                                                <div class="radio-list">
                                                    <label>
                                                        @Html.RadioButtonFor(model => model.RadioFor, "GVD", new { @checked = true }) <b>Gift Voucher Details</b>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-3"></div>
                            <div class="col-md-6 text-left">
                                <button class="btn btn-success" type="submit" formtarget="_blank"><i class="fa fa-save"></i> Show</button>
                                <a class="btn btn-danger" href="@Url.Action("GiftVoucharHistory", "AllReport")"><i class="fa fa-cut"></i> Clear</a>
                            </div>
                            <div class="col-md-3"></div>
                        </div>
                    </div>
                }

            </div>

        </div>

    </div>
</div>

<script>
    $(document).ready(function () {
        $(function () {
            $(".datepicker").datepicker({
                format: 'dd-MMM-yy',//check change
                changeMonth: true,
                changeYear: true
            }).datepicker("setDate", new Date());
        });

        $('.select2').select2({
            allowClear: true
        });
        $('#shopDropdownHide').show();


        $(':radio[name=RadioFor]').change(function() {
            var value = $(this).val();
            //if (value === 'CSR') {
            //    $('#shopDropdownHide').show();
            //}
        });

    });


</script>

