@model PosWarehouse.ViewModel.SaleDetailsSummary
@{
    ViewBag.Title = "SaleSummary";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-head">
    <div class="page-title">
        <h1>Sale Summary</h1>
    </div>
</div>

<div class="row margin-top-10">
    <div class="col-md-12">
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i>Sale Summary
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse" data-original-title="" title="">
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                @using (Html.BeginForm("SaleSummary", "AllReport", FormMethod.Post, new { @class = "form-horizontal" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-body">
                        <br />
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <div class="radio-list">
                                            <label>
                                                @Html.RadioButtonFor(model => model.ReportType, "PDF", new { @checked = true }) PDF
                                            </label>
                                           
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="radio-list">
                                            <label>
                                                @Html.RadioButtonFor(model => model.ReportType, "Excel") Excel
                                            </label>
                                           
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group" id="FromDateDiv">
                                    @Html.LabelFor(c => c.FromDate, new { @class = "col-md-3 control-label" })<span style="color: red">*</span>
                                    <div class="col-md-6">
                                        <div class="input-icon">
                                            @Html.TextBoxFor(c => c.FromDate, new { @class = "form-control input-circle datepicker", @placeholder = "From Date", @autocomplete = "off", @readonly = "readonly" })
                                            @Html.ValidationMessageFor(c => c.FromDate)
                                        </div>
                                    </div>
                                    <div class="col-md-3"></div>
                                </div>
                                <div class="form-group" id="ToDateDiv">
                                    @Html.LabelFor(c => c.ToDate, new { @class = "col-md-3 control-label" })<span style="color: red">*</span>
                                    <div class="col-md-6">
                                        <div class="input-icon">

                                            @Html.TextBoxFor(c => c.ToDate, new { @class = "form-control input-circle datepicker", @placeholder = "From Date", @autocomplete = "off", @readonly = "readonly" })
                                            @Html.ValidationMessageFor(c => c.ToDate)
                                        </div>
                                    </div>
                                    <div class="col-md-3"></div>
                                </div>
                                <div class="form-group" id="ShopIdDiv">
                                    @Html.LabelFor(c => c.ShopId, new { @class = "col-md-3 control-label" })
                                    <div class="col-md-6">
                                        <div class="input-icon">

                                            @{Html.EnableClientValidation(false);}
                                            @Html.DropDownListFor(c => c.ShopId, new SelectList(ViewBag.ShopList, "Value", "Text"), new { @class = "form-control input-circle" })

                                        </div>
                                    </div>
                                    <div class="col-md-3"></div>
                                </div>
                                <div class="form-group" id="CategoryIdDiv">
                                    @Html.LabelFor(c => c.CategoryId, new { @class = "col-md-3 control-label" })
                                    <div class="col-md-6">
                                        <div class="input-icon">

                                            @Html.DropDownListFor(c => c.CategoryId, new SelectList(ViewBag.CategoryList, "Value", "Text"), new { @class = "form-control input-circle" })

                                        </div>
                                    </div>
                                    <div class="col-md-3"></div>
                                </div>
                                <div class="form-group" id="SubCategoryIdDiv">
                                    @Html.LabelFor(c => c.SubCategoryId, new { @class = "col-md-3 control-label" })
                                    <div class="col-md-6">
                                        <div class="input-icon">

                                            @Html.DropDownListFor(m => m.SubCategoryId, new SelectList(" "), new { @class = "form-control input-circle", @disabled = true })

                                        </div>
                                    </div>
                                    <div class="col-md-3"></div>
                                </div>
                                <div class="form-group" id="styleDiv">
                                    @Html.LabelFor(c => c.ProductStyle, new { @class = "col-md-3 control-label" })
                                    <div class="col-md-6">
                                        <div class="input-icon">
                                            @Html.DropDownListFor(c => c.ProductId, new SelectList(ViewBag.ProductStyleist, "Value", "Text"), new { @class = "form-control input-circle select2" })
                                        </div>
                                    </div>
                                    <div class="col-md-3"></div>
                                </div>
                                <div class="form-group" id="DesignerNameHide">
                                    @Html.LabelFor(c => c.DesignerId, new { @class = "col-md-3 control-label" })
                                    <div class="col-md-6">
                                        <div class="input-icon">
                                            <i class="fa fa-text-width"></i>
                                            @Html.DropDownListFor(m => m.DesignerId, new List<SelectListItem>(), "---Select Name---", new { @class = "form-control input-circle", @disabled = true })
                                        </div>
                                    </div>
                                    <div class="col-md-3"></div>
                                </div>
                                <div class="form-group" id="InvoiceNumberDiv">
                                    @Html.LabelFor(c => c.InvoiceNumber, new { @class = "col-md-3 control-label" })
                                    <div class="col-md-6">
                                        <div class="input-icon">
                                            @Html.TextBoxFor(c => c.InvoiceNumber, new { @class = "form-control input-circle" })
                                        </div>
                                    </div>
                                    <div class="col-md-3"></div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-3 control-label"></label>
                                    <div class="col-md-9">
                                        <div class="radio-list">
                                            <label>
                                                @Html.RadioButtonFor(model => model.RadioFor, "S", new { @checked = true })<strong> Invoice Wise Sale Summary</strong>
                                            </label>
                                            <label>
                                                @Html.RadioButtonFor(model => model.RadioFor, "DS")<strong> Date Wise Sale Summary</strong>
                                            </label>
                                            <label>
                                                @Html.RadioButtonFor(model => model.RadioFor, "SWSSR")<strong> Style Wise Sale Summary</strong>
                                            </label>
                                            <label>
                                                @Html.RadioButtonFor(model => model.RadioFor, "CSWS") <strong>Category/SubCategory Wise Summary</strong>
                                            </label>
                                            <label>
                                                @Html.RadioButtonFor(model => model.RadioFor, "CSWSWV")<strong> Category/SubCategory Wise Summary WithOut Vat</strong>
                                            </label>
                                            <label>
                                                @Html.RadioButtonFor(model => model.RadioFor, "ASCSS")<strong> All Shop Category/SubCategory Summary</strong>
                                            </label>
                                            <label>
                                                @Html.RadioButtonFor(model => model.RadioFor, "CWD")<strong>Category//Style Wise Details</strong>
                                            </label>
                                            <label>
                                                @Html.RadioButtonFor(model => model.RadioFor, "SWSS")<strong>Size Wise Sale Summary</strong>
                                            </label>
                                            <label>
                                                @Html.RadioButtonFor(model => model.RadioFor, "IVD")<strong> Invoice Wise Details</strong>
                                            </label>
                                            <label>
                                                @Html.RadioButtonFor(model => model.RadioFor, "DWSS")<strong> Disigner Wise Sale Summary</strong>
                                            </label>
                                            <label>
                                                @Html.RadioButtonFor(model => model.RadioFor, "SMSS")<strong> SalesMan Wise Sale Summary</strong>
                                            </label>
                                            <label>
                                                @Html.RadioButtonFor(model => model.RadioFor, "SCC")<strong> Shop CPU Calculation</strong>
                                            </label>
                                            <label>
                                                @Html.RadioButtonFor(model => model.RadioFor, "GVDH")<strong> Gift Voucher Deposit History</strong>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-4"></div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div class="col-md-3"></div>
                                    <div class="col-md-6 text-left">

                                        <button class="btn btn-success" type="submit" formtarget="_blank"><i class="fa fa-save"></i> Show</button>
                                        @*<button class="btn btn-success" type="submit" id="clear"><i class="fa fa-save"></i> clear2</button>*@
                                        <a class="btn btn-danger" href="@Url.Action("SaleSummary", "AllReport")"><i class="fa fa-cut"></i> Clear</a>
                                    </div>
                                    <div class="col-md-3"></div>
                                </div>
                            </div>
                            <div class="col-md-4"></div>

                        </div>
                        
                    </div>
                }

            </div>

        </div>

    </div>
</div>
@Scripts.Render("~/bundles/jqueryval")

<script>
    $(document).ready(function () {
        $('.select2').select2({
            allowClear: true
        });
        $('#styleDiv').hide();
        $("#DesignerNameHide").hide();
        $('#InvoiceNumberDiv').hide();

        $(function() {
            $( ".datepicker" ).datepicker({
                format: 'dd/mm/yyyy',//check change
                changeMonth: true,
                changeYear: true
            }).datepicker("setDate", new Date());
        });

        $(':radio[name=RadioFor]').change(function() {
            var value = $(this).val();
            if (value === 'IVD') {
                $('#InvoiceNumberDiv').show();
                $('#FromDateDiv').hide();
                $('#ToDateDiv').hide();
                $('#ShopIdDiv').hide();
                $('#CategoryIdDiv').hide();
                $('#SubCategoryIdDiv').hide();
                $("#DesignerNameHide").hide();
            } else if (value === 'DWSS') {
                $("#DesignerNameHide").show();
            } else if (value === 'SWSS') {
                $('#styleDiv').hide();
            }
            else if (value === 'GVDH') {
                $('#CategoryIdDiv').hide();
                $('#SubCategoryIdDiv').hide();
                $('#ShopIdDiv').hide();
            }
            else if (value === 'CWD' || value === 'SWSSR') {
                $('#styleDiv').show();
            }else {
                $('#InvoiceNumberDiv').hide();
                $('#FromDateDiv').show();
                $('#ToDateDiv').show();
                $('#ShopIdDiv').show();
                $('#CategoryIdDiv').show();
                $('#SubCategoryIdDiv').show();
                $("#DesignerNameHide").hide();
                $('#styleDiv').hide();
            }

        });

        $("#CategoryId").change(function () {
            $("#SubCategoryId").empty();
            var catId = $("#CategoryId").val();

            if (!isNaN(catId) && catId) {
                $("#SubCategoryId").prop("disabled", false);
                $.ajax({
                    type: 'POST',
                    url: '/AllReport/GetSubCategory/',
                    dataType: 'json',
                    data: { categoryId: catId },
                    success: function (subCategoryId) {
                        $.each(subCategoryId, function (i, subCategoryId) {
                            $("#SubCategoryId").append('<option value="' + subCategoryId.Value + '">' + subCategoryId.Text + '</option>');
                        });
                    },
                    error: function(ex) {
                        alert('Failed to retrieve SubCategory List.' + ex);
                        $("#SubCategoryId").prop("disabled", true);
                    }
                });
            } else {
                $("#SubCategoryId").prop("disabled", true);
            }
        });

        $.ajax({
            type: 'GET',
            url: 'http://192.168.2.226/Api/Designer',
            dataType: 'json',
            success: function (data) {
                $("#DesignerId").attr("disabled", false);
                $.each(data, function (i, designerId) {
                    $("#DesignerId").append('<option value="' + designerId.id + '">' + designerId.name + '</option>');
                });
            },
            error: function (ex) { alert('Failed to retrieve Designer Name List.' + ex); }
        });


    });
</script>