@using PosWarehouse.ViewModel
@model PosWarehouse.ViewModel.ShopModel
@{
    ViewBag.Title = "Shop";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var shopModel = ViewBag.ShopList as List<ShopModel>;
}

<div class="page-head">
    <div class="page-title">
        <h1>Manage Shop</h1>
    </div>
</div>

<div class="row margin-top-10">
    <div class="col-md-12">
        <div class="portlet box green-haze">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i>Add Shop
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse" data-original-title="" title="">
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                @using (Html.BeginForm("SaveAndUpdateShop", "Setup", FormMethod.Post, new { @class = "form-horizontal" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-body">
                        <br/>
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group">
                                    @Html.LabelFor(c => c.WareHouseId, new {@class = "col-md-3 control-label"})
                                    <div class="col-md-6">
                                        <div class="input-icon">
                                            <i class="fa fa-text-width"></i>
                                            @Html.DropDownListFor(c => c.WareHouseId, new SelectList(ViewBag.WareHouseList, "Value", "Text", Model.WareHouseId), new {@class = "form-control input-circle", @placeholder = "WareHouse Name", @style = "max-width: 580px;"})
                                            @Html.ValidationMessageFor(c => c.WareHouseId)
                                        </div>
                                    </div>
                                    <div class="col-md-3"></div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(c => c.ShopName, new {@class = "col-md-3 control-label"})
                                    <div class="col-md-6">
                                        <div class="input-icon">
                                            <i class="fa fa-text-width"></i>
                                            @Html.TextBoxFor(c => c.ShopName, new {@class = "form-control input-circle", @placeholder = "Shop Name", @style = "max-width: 580px;"})
                                            @Html.ValidationMessageFor(c => c.ShopName)
                                        </div>
                                    </div>
                                    <div class="col-md-3"></div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(c => c.ContactNo, new {@class = "col-md-3 control-label"})
                                    <div class="col-md-6">
                                        <div class="input-icon">
                                            <i class="fa fa-text-width"></i>
                                            @Html.TextBoxFor(c => c.ContactNo, new {@class = "form-control input-circle", @placeholder = "Contact No", @style = "max-width: 580px;"})
                                            @Html.ValidationMessageFor(c => c.ContactNo)
                                        </div>
                                    </div>
                                    <div class="col-md-3"></div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(c => c.EmailAddress, new {@class = "col-md-3 control-label"})
                                    <div class="col-md-6">
                                        <div class="input-icon">
                                            <i class="fa fa-text-width"></i>
                                            @Html.TextBoxFor(c => c.EmailAddress, new {@class = "form-control input-circle", @placeholder = "Email Address", @style = "max-width: 580px;"})
                                            @Html.ValidationMessageFor(c => c.EmailAddress)
                                        </div>
                                    </div>
                                    <div class="col-md-3"></div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(c => c.ShopAddress, new {@class = "col-md-3 control-label"})
                                    <div class="col-md-6">
                                        <div class="input-icon">
                                            <i class="fa fa-text-width"></i>
                                            @Html.TextAreaFor(c => c.ShopAddress, new {@class = "form-control input-circle", @placeholder = "Shop Address", @style = "max-width: 580px;"})
                                            @Html.ValidationMessageFor(c => c.ShopAddress)
                                        </div>
                                    </div>
                                    <div class="col-md-3"></div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(c => c.DateOfEnrollment, new {@class = "col-md-3 control-label"})
                                    <div class="col-md-6">
                                        <div class="input-icon">
                                            <i class="fa fa-calendar"></i>
                                            @Html.TextBoxFor(c => c.DateOfEnrollment, new {@class = "form-control datepicker input-circle", @placeholder = "Date Of Enrollment", autocomplete = "off", @readonly = "readonly", @style = "max-width: 580px;"})
                                            @Html.ValidationMessageFor(c => c.DateOfEnrollment)
                                        </div>
                                    </div>
                                    <div class="col-md-3"></div>
                                </div>

                            </div>

                            <div class="col-md-6">

                                <div class="form-group">
                                    @Html.LabelFor(c => c.PostalCode, new {@class = "col-md-3 control-label"})
                                    <div class="col-md-6">
                                        <div class="input-icon">
                                            <i class="fa fa-text-width"></i>
                                            @Html.TextBoxFor(c => c.PostalCode, new {@class = "form-control input-circle", @placeholder = "Postal Code", @style = "max-width: 580px;"})
                                            @Html.ValidationMessageFor(c => c.PostalCode)
                                        </div>
                                    </div>
                                    <div class="col-md-3"></div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(c => c.VatNo, new {@class = "col-md-3 control-label"})
                                    <div class="col-md-6">
                                        <div class="input-icon">
                                            <i class="fa fa-text-width"></i>
                                            @Html.TextBoxFor(c => c.VatNo, new {@class = "form-control input-circle", @placeholder = "Vat No", @style = "max-width: 580px;"})
                                            @Html.ValidationMessageFor(c => c.VatNo)
                                        </div>
                                    </div>
                                    <div class="col-md-3"></div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(c => c.TINNo, new {@class = "col-md-3 control-label"})
                                    <div class="col-md-6">
                                        <div class="input-icon">
                                            <i class="fa fa-text-width"></i>
                                            @Html.TextBoxFor(c => c.TINNo, new {@class = "form-control input-circle", @placeholder = "TIN No", @style = "max-width: 580px;"})
                                            @Html.ValidationMessageFor(c => c.TINNo)
                                        </div>
                                    </div>
                                    <div class="col-md-3"></div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(c => c.BINNo, new {@class = "col-md-3 control-label"})
                                    <div class="col-md-6">
                                        <div class="input-icon">
                                            <i class="fa fa-text-width"></i>
                                            @Html.TextBoxFor(c => c.BINNo, new {@class = "form-control input-circle", @placeholder = "BIN No", @style = "max-width: 580px;"})
                                            @Html.ValidationMessageFor(c => c.BINNo)
                                        </div>
                                    </div>
                                    <div class="col-md-3"></div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(c => c.FAXNo, new {@class = "col-md-3 control-label"})
                                    <div class="col-md-6">
                                        <div class="input-icon">
                                            <i class="fa fa-text-width"></i>
                                            @Html.TextBoxFor(c => c.FAXNo, new {@class = "form-control input-circle", @placeholder = "FAX No", @style = "max-width: 580px;"})
                                            @Html.ValidationMessageFor(c => c.FAXNo)
                                        </div>
                                    </div>
                                    <div class="col-md-3"></div>
                                </div>


                                <div class="form-group">
                                    @Html.LabelFor(c => c.CountryId, new {@class = "col-md-3 control-label"})
                                    <div class="col-md-6">
                                        <div class="input-icon">
                                            <i class="fa fa-text-width"></i>
                                            @Html.DropDownListFor(c => c.CountryId, new SelectList(ViewBag.CountryList, "Value", "Text", Model.CountryId), new {@class = "form-control input-circle", @placeholder = "Country Name", @style = "max-width: 580px;"})
                                            @Html.ValidationMessageFor(c => c.CountryId)
                                        </div>
                                    </div>
                                    <div class="col-md-3"></div>
                                </div>


                            </div>
                        </div>


                        <div class="form-group">
                            <div class="col-md-6 text-right">
                                @Html.HiddenFor(c => c.ShopId)
                                <button class="btn btn-success" type="submit"><i class="fa fa-save"></i> Save</button>
                                <a class="btn btn-danger" href="@Url.Action("Shop", "Setup")"><i class="fa fa-cut"></i> Clear</a>
                            </div>
                            <div class="col-md-3 ">

                            </div>
                            <div class="col-md-3"></div>
                        </div>
                    </div>
                }
            </div>
        </div>

        <div class="portlet box blue-hoki">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i>Shop Lists
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse" data-original-title="" title="">
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="ShopTable">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Country Name</th>
                                <th>WareHouse Office</th>
                                <th>Shop Name</th>
                                <th>Contact NO</th>
                                <th>Postal Code</th>
                                <th>Date Of Enrollment</th>
                                <th>VAT NO</th>
                                <th>TIN NO</th>
                                <th>BIN NO</th>
                                <th>FAX NO</th>
                                <th>Email Address</th>
                                <th>Address</th>
                                <th> Active status</th>

                                <th class="text-center" style="width: 0%">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (shopModel != null && shopModel.Count != 0)
                            {
                                int counter = 1;
                                foreach (var data in shopModel)
                                {
                                    <tr>
                                        <td>@counter</td>
                                        <td>@data.CountryName</td>
                                        <td>@data.WareHouseName</td>
                                        <td>@data.ShopName</td>
                                        <td>@data.ContactNo</td>
                                        <td>@data.PostalCode</td>
                                        <td>@data.DateOfEnrollment</td>
                                        <td>@data.VatNo</td>
                                        <td>@data.TINNo</td>
                                        <td>@data.BINNo</td>
                                        <td>@data.FAXNo</td>
                                        <td>@data.EmailAddress</td>
                                        <td>@data.ShopAddress</td>
                                        <td>@{
                                            if (data.IsActive)
                                            {
                                                <p>Active</p>
                                            }
                                            else
                                            {
                                                <p>Inactive</p>
                                            }
                                                    
                                            }</td>

                                        <td class="text-center">
                                            @Html.ActionLink(" Edit", "Shop", "Setup", new { countryId = data.CountryId, wareHouseId = data.WareHouseId, shopId = data.ShopId }, new { @class = "btn btn-primary fa fa-edit btn-xs" }) ||
                                            @*@Html.ActionLink(" Delete", "DeleteShop", "Setup", new { countryId = data.CountryId, wareHouseId = data.WareHouseId, shopId = data.ShopId }, new { @class = "btn btn-danger fa fa-trash-o btn-xs" })*@
                                        </td>
                                    </tr>
                                    counter = counter + 1;
                                }
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


@Scripts.Render("~/bundles/jqueryval")

<script>

    jQuery(document).ready(function () {
        var table = $("#ShopTable").dataTable();
        @{
        if (!string.IsNullOrWhiteSpace(@ViewBag.Message))
        {
        <text>
            var message = '@ViewBag.message';


            toastr.options = {
                "closeButton": true,
                "debug": false,
                "positionClass": "toast-top-center",
                "onclick": null,
                "showDuration": "1000",
                "hideDuration": "1000",
                "timeOut": "1000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            }
        toastr.success(message);
        </text>
        }
     }
    });

</script>