@using PosWarehouse.ViewModel
@model PosWarehouse.ViewModel.VendorModel
@{
    ViewBag.Title = "Brand";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var vendorModel = ViewBag.VendorList as List<VendorModel>;
}

<div class="page-head">
    <div class="page-title">
        <h1>Manage Vendor</h1>
    </div>
</div>

<div class="row margin-top-10">
    <div class="col-md-12">
        <div class="portlet box green-haze">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i>Add Vendor
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse" data-original-title="" title="">
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                @using (Html.BeginForm("SaveAndUpdateVendor", "Setup", FormMethod.Post, new { @class = "form-horizontal" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-body">
                        <br/>
                        <div class="form-group">
                            @Html.LabelFor(c => c.VendorName, new {@class = "col-md-3 control-label"})
                            <div class="col-md-6">
                                <div class="input-icon">
                                    <i class="fa fa-text-width"></i>
                                    @Html.TextBoxFor(c => c.VendorName, new {@class = "form-control input-circle", @placeholder = "Vendor Name", @style = "max-width: 580px;"})
                                    @Html.ValidationMessageFor(c => c.VendorName)
                                </div>
                            </div>
                            <div class="col-md-3"></div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(c => c.Address, new {@class = "col-md-3 control-label"})
                            <div class="col-md-6">
                                <div class="input-icon">
                                    <i class="fa fa-text-width"></i>
                                    @Html.TextAreaFor(c => c.Address, new {@class = "form-control input-circle", @placeholder = "Address", @style = "max-width: 580px;"})
                                    @Html.ValidationMessageFor(c => c.Address)
                                </div>
                            </div>
                            <div class="col-md-3"></div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(c => c.ContactNo, new {@class = "col-md-3 control-label"})
                            <div class="col-md-6">
                                <div class="input-icon">
                                    <i class="fa fa-text-width"></i>
                                    @Html.TextBoxFor(c => c.ContactNo, new {@class = "form-control input-circle", @placeholder = "Contact No", @style = "max-width: 580px;", @maxlength="14"})
                                    @Html.ValidationMessageFor(c => c.ContactNo)
                                </div>
                            </div>
                            <div class="col-md-3"></div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(c => c.Email, new {@class = "col-md-3 control-label"})
                            <div class="col-md-6">
                                <div class="input-icon">
                                    <i class="fa fa-text-width"></i>
                                    @Html.TextBoxFor(c => c.Email, new {@class = "form-control input-circle", @placeholder = "Email", @style = "max-width: 580px;"})
                                    @Html.ValidationMessageFor(c => c.Email)
                                </div>
                            </div>
                            <div class="col-md-3"></div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(c => c.ActiveStatus, new {@class = "col-md-3 control-label"})
                            <div class="col-md-6">
                                <div class="checkbox-list" style="margin-top: 8px;">

                                    @Html.CheckBoxFor(c => c.ActiveStatus, new {@class = "checker"})

                                </div>
                            </div>
                            <div class="col-md-3"></div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3"></div>
                            <div class="col-md-6 text-left">
                                @Html.HiddenFor(c => c.VendorId)
                                <button class="btn btn-success" type="submit"><i class="fa fa-save"></i> Save</button>
                                <a class="btn btn-danger" href="@Url.Action("Vendor", "Setup")"><i class="fa fa-cut"></i> Clear</a>
                            </div>
                            <div class="col-md-3"></div>
                        </div>
                    </div>
                }
            </div>
        </div>

        <div class="portlet box blue-hoki">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i>Vendor Lists
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse" data-original-title="" title="">
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="vendorTable">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Vendor Name</th>
                                <th>Address</th>
                                <th>Contact No</th>
                                <th>Email</th>
                                <th>Active Status</th>
                                <th class="text-center" style="width: 20%">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (vendorModel != null && vendorModel.Count != 0)
                            {
                                int counter = 1;
                                foreach (var data in vendorModel)
                                {
                                    <tr>
                                        <td>@counter</td>
                                        <td>@data.VendorName</td>
                                        <td>@data.Address</td>
                                        <td>@data.ContactNo</td>
                                        <td>@data.Email</td>
                                        @if (data.Active_YN == "Y")
                                        {
                                            <td>
                                                <i class="fa fa-check-circle" style="color: green;"> Active</i>
                                            </td>
                                        }
                                        else
                                        {
                                            <td><i class="fa fa-times-circle" style="color: red;"></i> InActive</td>
                                        }
                                        <td class="text-center">
                                            @Html.ActionLink(" Edit", "Vendor", "Setup", new { vendorId = data.VendorId }, new { @class = "btn btn-primary fa fa-edit" }) ||
                                            @*@Html.ActionLink(" Delete", "DeleteVendor", "Setup", new { vendorId = data.VendorId }, new { @class = "btn btn-danger fa fa-trash-o" })*@
                                        </td>
                                    </tr>
                                    counter = counter + 1;
                                }
                            }
                           
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/jqueryval")

<script>
    jQuery(document).ready(function () {

        var table = $("#vendorTable").dataTable();

        @{
        if (!string.IsNullOrWhiteSpace(@ViewBag.Message))
        {
        <text>
        var message = '@ViewBag.message';


        toastr.options = {
                    "closeButton": true,
                    "debug": false,
                    "positionClass": "toast-top-center",
                    "onclick": null,
                    "showDuration": "1000",
                    "hideDuration": "1000",
                    "timeOut": "1000",
                    "extendedTimeOut": "1000",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
        }
        toastr.success(message);
        </text>
        }
     }
    });

</script>
